.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 35%;
    border-width: 1px;
    border: 1px solid #eee;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.titulo-404 {
    display: flex;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    font-size: 1.4em;
    height: 100%;
    width: 100%;
    background-color: brown;
    color: #fff;

}

.subtitulo-404 {
    display: flex;
    margin: 0px;
    padding: 10px;
    font-size: 1.2em;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.botao-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    background-color: brown;
    color: #fff;
    border-width: 1;
    border: 1px solid #eee;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    transition: all 0.5s;
}

.botao-link:hover {
    background-color: #fff;
    color: brown;
}